.cards{
    .card{
        width: 18.4%;

        .cover{
            img{
                border-radius: 8px 8px 0px 0px;
            }
        }
        
    }
    h2{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 8px;
    }
}