.main{
    display: flex;
    justify-content: space-between;

    &-container{
        width: 49%;
        background-color: $second;
        border-radius: 8px;
    }

    img{
        border-radius: 8px;
    }

    .cover-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        color: $white;
        margin: 36px 40px;

        &:first-child{
            margin-bottom: 0;
        }
    }
}