.main-form{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 80px;

    h1{
        margin-bottom: 26px;
        text-align: center;
    }

    input{
        margin-bottom: 13px;
    }

    .select{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;


        &:hover{
            .pick{
                svg{
                    fill: $main;
                }
                .options{
                    display: block;
                }
            }
        }
        .pick{
            height: 100%;
        }

        .options{
            display: none;
            width: 100%;
            background-color: $white;
            position: absolute;
            bottom: -10px;
            left: 0;
            transform: translate(0, 100%);

            .opt{
                padding: 10px 11px;
                transition: 0.4s;
                color: $black;
                &:hover{
                    background-color: $main;
                    color: $white;
                    transition: 0.4s;
                }
            }
        }
    }
}