.main-form{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 80px;

    h1{
        margin-bottom: 26px;
        text-align: center;
    }

    input{
        margin-bottom: 13px;
    }

    .select{
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;


        &:hover{
            .pick{
                svg{
                    fill: $main;
                }
            }
        }
        .pick{
            height: 100%;
        }
    }
}