@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

header {
  padding: 36px 0;
}
header .line {
  height: 1px;
  width: 18px;
  background-color: #202020;
  margin-bottom: 3px;
  cursor: pointer;
}
header .line:last-child {
  margin-bottom: 0;
}
header .logo {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
header .logo h1 {
  font-size: 24px;
  text-transform: uppercase;
}
header .logo h1:hover {
  color: #ef5ad8;
}
header nav {
  display: flex;
}
header nav a {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav a:first-child {
  margin-right: 20px;
}

form {
  background-color: #ffffff;
  padding: 15px 20px 25px 20px;
  border: 1px solid #E3E3E3;
  border-radius: 8px;
}

input[type=text], input[type=password] {
  width: 100%;
  margin-left: -11px;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 7px 11px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 10px;
}

.form-container {
  margin: 0 11px;
}

.btn {
  width: 100%;
  border: 1px solid #FF3D00;
  border-radius: 5px;
  color: #FF3D00;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover {
  width: 100%;
  border: 1px solid #FF3D00;
  border-radius: 5px;
  color: #FF3D00;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  background-color: #FF3D00;
  color: white;
}
.btn.second {
  width: 100%;
  border: 1px solid #0085FF;
  border-radius: 5px;
  color: #0085FF;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}
.btn.second:hover {
  width: 100%;
  border: 1px solid #0085FF;
  border-radius: 5px;
  color: #0085FF;
  padding: 10px 0;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 900;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
  background-color: #0085FF;
  color: white;
}

h1, h2, h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

h4 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

.cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover.rectangle {
  position: relative;
  width: 100%;
  padding-top: 64.4567219153%;
}

body {
  background-color: #F7F7F7;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

svg {
  fill: #202020;
  transition: 0.4s;
}
svg:hover {
  fill: #FF3D00;
}

/*# sourceMappingURL=style.css.map */
